src/main/mule/shared/mongodb-operations.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd">
	<flow name="mongodb-operation-insert" doc:id="627df4f9-6cb0-4f98-9d21-7097a7095199" >
		<logger level="INFO" doc:name="Logger" doc:id="c5ddece9-64ed-4955-9865-cd0b726ba6f1" />
		<mongo:count-documents collectionName="person" doc:name="Count documents" doc:id="3aa0d113-f165-4b3b-a446-7ba930ee4dbc" config-ref="MongoDB_Config" target="resultOfCount">
			<mongo:condition-query ><![CDATA[#[vars.queryCondition]]]></mongo:condition-query>
		</mongo:count-documents>
		<choice doc:name="Choice" doc:id="12923873-9f09-4571-849f-27557a7f7009" >
			<when expression="vars.resultOfCount == 0" >
				<mongo:insert-document doc:name="Insert document" doc:id="e8edca91-9b5b-411d-9985-6500a5b07bd5" config-ref="MongoDB_Config" collectionName="person" target="resultOfInsert">
					<mongo:document ><![CDATA[#[vars.originalPayload]]]></mongo:document>
				</mongo:insert-document>
				<logger level="INFO" doc:name="Logger" doc:id="b4fd5890-bd58-4f1d-9dc1-bf3476f73a5f" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="3a634b72-9aa4-4529-91dc-767e7d6501ff" />
			</otherwise>
		</choice>
	</flow>
</mule>
